/* 页脚文字颜色调整 */
#footer-wrap .footer-copyright,
#footer-wrap .footer-copyright .copyright,
#footer-wrap .footer-copyright .framework-info {
  color: #858585;
}

#footer-wrap .footer-copyright a {
  color: #49b1f5;
}

#footer-wrap .footer-copyright a:hover {
  color: #ff7242;
}
